<html>
<head>
  <style>
  table {
        border: 1px solid black;
	border-collapse:collapse;
	  width: 100%;
  }

  th, td {
        border: 1px solid black;
	text-align: left;
	  padding: 8px;
  }

  tr nth-child(even){background-color: #f2f2f2}
     
  tr:hover {background-color:orange;}
   
  th {
        background-color: #4CAF50;
	  color: white;
  }
  </style>
  <body>
    <h1>Add a note</h1>
    <form method="POST" action="/">
      <!--<input type="text" name="title">-->
      <textarea rows="4" cols="50" name="title"></textarea>
      <input type="submit" value="Add Note">
    </form>
<a href="https://premkumar165.github.io/portfolio">Access My Portfolio</a>
<hr>
    <h1>Note Management</h1>
    <table>
     <th align = "center">Note Inventory</th>
     <th align = "center">Update Note</th>
     <th align = "center">Delete Note</th>
      {% for book in books %}
       	<tr>
          <td align = "center">
	    {{datetime}}
            {{book.title}}
          </td>
          <td align = "center">
            <form method="POST" action="./update" style="display: inline">
              <input type="hidden" value="{{book.title}}" name="oldtitle">
              <input type="text" value="{{book.title}}" name="newtitle">
              <input type="submit" value="Update">
            </form>
          </td>
          <td align = "center">
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{book.title}}" name="title">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
